body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:645px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:39px;
  width:1280px;
  height:645px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:54px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:45px;
  width:483px;
  height:54px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:128px;
  width:1203px;
  height:154px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:1199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#00FFCC;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:138px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#00FFCC;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:170px;
  width:973px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  white-space:nowrap;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:202px;
  width:541px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  white-space:nowrap;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:170px;
  width:24px;
  height:29px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:386px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:282px;
  width:1203px;
  height:386px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:185px;
  width:1199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:297px;
  width:317px;
  height:57px;
  font-size:16px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:56px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:518px;
  width:126px;
  height:56px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:374px;
  width:129px;
  height:58px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:49px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:589px;
  width:279px;
  height:49px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:311px;
  width:24px;
  height:29px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:466px;
  width:422px;
  height:19px;
  font-size:16px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  white-space:nowrap;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:56px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:376px;
  width:126px;
  height:56px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:536px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
