body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:645px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:39px;
  width:1280px;
  height:645px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:54px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:45px;
  width:483px;
  height:54px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:575px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:109px;
  width:184px;
  height:575px;
  opacity:0.5;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:315px;
  width:147px;
  height:93px;
  font-size:28px;
  color:#FFFFFF;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:163px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:460px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:137px;
  width:338px;
  height:30px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:129px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:195px;
  width:1096px;
  height:1px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:139px;
  width:79px;
  height:26px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:127px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:462px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:207px;
  width:476px;
  height:462px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:223px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:373px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:218px;
  width:447px;
  height:373px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:206px;
  width:604px;
  height:463px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:224px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:129px;
  width:140px;
  height:40px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:434px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:218px;
  width:539px;
  height:434px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:209px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:263px;
  width:116px;
  height:45px;
}
#u160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
