body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:727px;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:39px;
  width:1280px;
  height:727px;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:356px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:54px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:51px;
  width:483px;
  height:54px;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:651px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:115px;
  width:802px;
  height:651px;
  opacity:0.7;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:798px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:566px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:194px;
  width:183px;
  height:566px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:124px;
  width:183px;
  height:40px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u1590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:195px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:233px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:272px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:310px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:348px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:162px;
  width:183px;
  height:598px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:123px;
  width:182px;
  height:40px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u1604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:194px;
  width:107px;
  height:39px;
  font-size:16px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u1606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:233px;
  width:107px;
  height:39px;
  font-size:16px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u1608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:271px;
  width:107px;
  height:39px;
  font-size:16px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u1610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:310px;
  width:107px;
  height:39px;
  font-size:16px;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u1612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:455px;
  width:106px;
  height:38px;
  font-size:16px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:493px;
  width:106px;
  height:38px;
  font-size:16px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:387px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:164px;
  width:183px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:424px;
  width:184px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u1622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:455px;
  width:109px;
  height:36px;
  font-size:16px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:491px;
  width:109px;
  height:36px;
  font-size:16px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:527px;
  width:109px;
  height:36px;
  font-size:16px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:563px;
  width:109px;
  height:36px;
  font-size:16px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:599px;
  width:109px;
  height:36px;
  font-size:16px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:163px;
  width:182px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u1634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:348px;
  width:107px;
  height:39px;
  font-size:16px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u1636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:387px;
  width:107px;
  height:39px;
  font-size:16px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u1638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:424px;
  width:183px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:531px;
  width:106px;
  height:38px;
  font-size:16px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:569px;
  width:106px;
  height:38px;
  font-size:16px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:606px;
  width:106px;
  height:38px;
  font-size:16px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:643px;
  width:182px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:673px;
  width:107px;
  height:32px;
  font-size:16px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u1650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:705px;
  width:107px;
  height:32px;
  font-size:16px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u1652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:123px;
  width:182px;
  height:40px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:597px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:163px;
  width:183px;
  height:597px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:163px;
  width:183px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:194px;
  width:109px;
  height:31px;
  font-size:16px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:225px;
  width:109px;
  height:31px;
  font-size:16px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:256px;
  width:109px;
  height:31px;
  font-size:16px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:288px;
  width:109px;
  height:31px;
  font-size:16px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:319px;
  width:109px;
  height:31px;
  font-size:14px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:350px;
  width:109px;
  height:31px;
  font-size:16px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:381px;
  width:183px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:413px;
  width:108px;
  height:31px;
  font-size:16px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:444px;
  width:108px;
  height:31px;
  font-size:16px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:475px;
  width:108px;
  height:31px;
  font-size:16px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:506px;
  width:183px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:537px;
  width:108px;
  height:31px;
  font-size:16px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:568px;
  width:108px;
  height:31px;
  font-size:16px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:599px;
  width:108px;
  height:31px;
  font-size:16px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:630px;
  width:108px;
  height:31px;
  font-size:16px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:661px;
  width:108px;
  height:31px;
  font-size:16px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:123px;
  width:182px;
  height:40px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u1692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:597px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:163px;
  width:183px;
  height:597px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:163px;
  width:183px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:194px;
  width:109px;
  height:31px;
  font-size:16px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:225px;
  width:109px;
  height:31px;
  font-size:16px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:256px;
  width:109px;
  height:31px;
  font-size:16px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:287px;
  width:183px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:318px;
  width:110px;
  height:32px;
  font-size:16px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:350px;
  width:110px;
  height:32px;
  font-size:16px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:381px;
  width:110px;
  height:32px;
  font-size:16px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:413px;
  width:110px;
  height:32px;
  font-size:16px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:446px;
  width:183px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:477px;
  width:114px;
  height:33px;
  font-size:16px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u1716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:510px;
  width:114px;
  height:33px;
  font-size:16px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u1718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:542px;
  width:114px;
  height:33px;
  font-size:16px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u1720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:575px;
  width:114px;
  height:33px;
  font-size:16px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u1722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:608px;
  width:183px;
  height:31px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:640px;
  width:114px;
  height:33px;
  font-size:16px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u1726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:673px;
  width:114px;
  height:33px;
  font-size:16px;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u1728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:705px;
  width:114px;
  height:33px;
  font-size:16px;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u1730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:721px;
  width:105px;
  height:30px;
  font-size:16px;
  color:#CCCCCC;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
