body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:645px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:39px;
  width:1280px;
  height:645px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:54px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:45px;
  width:483px;
  height:54px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:575px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:109px;
  width:184px;
  height:575px;
  opacity:0.5;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:466px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:320px;
  width:147px;
  height:93px;
  font-size:28px;
  color:#FFFFFF;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:189px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:118px;
  width:1068px;
  height:154px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:156px;
  width:981px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  word-wrap:break-word;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:198px;
  width:481px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:156px;
  width:22px;
  height:29px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:230px;
  width:785px;
  height:19px;
  font-size:16px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  white-space:nowrap;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#00FFCC;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:124px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#00FFCC;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:374px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:272px;
  width:1068px;
  height:374px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:179px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:300px;
  width:580px;
  height:19px;
  font-size:16px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:49px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:552px;
  width:248px;
  height:49px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:300px;
  width:21px;
  height:29px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:56px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:347px;
  width:112px;
  height:56px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:458px;
  width:277px;
  height:19px;
  font-size:16px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:560px;
  width:582px;
  height:71px;
  overflow:hidden;
}
#u829_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:71px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u829_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 153, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:14px;
  width:576px;
  height:41px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:26px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:24px;
  width:47px;
  height:23px;
  opacity:0.8;
  font-size:16px;
  color:#CCCCCC;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:24px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:22px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:24px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:24px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:23px;
  width:50px;
  height:23px;
  opacity:0.8;
  font-size:16px;
  color:#CCCCCC;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:22px;
  width:47px;
  height:23px;
  opacity:0.8;
  font-size:16px;
  color:#CCCCCC;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:24px;
  width:47px;
  height:23px;
  opacity:0.8;
  font-size:16px;
  color:#CCCCCC;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:22px;
  width:46px;
  height:23px;
  opacity:0.8;
  font-size:16px;
  color:#CCCCCC;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:56px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:494px;
  width:124px;
  height:56px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:422px;
  width:277px;
  height:19px;
  font-size:16px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
