body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:645px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:39px;
  width:1280px;
  height:645px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:54px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:45px;
  width:483px;
  height:54px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:575px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:109px;
  width:184px;
  height:575px;
  opacity:0.5;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:320px;
  width:147px;
  height:93px;
  font-size:28px;
  color:#FFFFFF;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:466px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:189px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:137px;
  width:338px;
  height:30px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:129px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:195px;
  width:1096px;
  height:1px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:252px;
  width:30px;
  height:30px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:251px;
  width:466px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  white-space:nowrap;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:139px;
  width:79px;
  height:26px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:127px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:56px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:258px;
  width:126px;
  height:56px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:256px;
  width:129px;
  height:58px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00FFCC;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:208px;
  width:556px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00FFCC;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  white-space:nowrap;
}
#u888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:129px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:344px;
  width:1096px;
  height:1px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:56px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:357px;
  width:126px;
  height:56px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:355px;
  width:129px;
  height:58px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:432px;
  width:1096px;
  height:1px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:443px;
  width:576px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  white-space:nowrap;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:56px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:451px;
  width:126px;
  height:56px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:449px;
  width:129px;
  height:58px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:526px;
  width:1096px;
  height:1px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:544px;
  width:447px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  white-space:nowrap;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:56px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:553px;
  width:126px;
  height:56px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:551px;
  width:129px;
  height:58px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:369px;
  width:30px;
  height:30px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:451px;
  width:30px;
  height:30px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:543px;
  width:30px;
  height:30px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:251px;
  width:24px;
  height:29px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:357px;
  width:24px;
  height:29px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:443px;
  width:24px;
  height:29px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:544px;
  width:24px;
  height:29px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:645px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:39px;
  width:1280px;
  height:645px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:54px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:45px;
  width:483px;
  height:54px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:575px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:109px;
  width:184px;
  height:575px;
  opacity:0.5;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:363px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:129px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:497px;
  width:147px;
  height:93px;
  font-size:28px;
  color:#FFFFFF;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:189px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:189px;
  width:1096px;
  height:1px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:139px;
  width:79px;
  height:26px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:127px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:191px;
  width:1068px;
  height:67px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:203px;
  width:981px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  word-wrap:break-word;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#00FFCC;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:206px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#00FFCC;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:258px;
  width:1068px;
  height:426px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:205px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:258px;
  width:122px;
  height:40px;
  font-size:16px;
  color:#CCCCCC;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:298px;
  width:1049px;
  height:370px;
}
#u956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:370px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
