body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:645px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:39px;
  width:1280px;
  height:645px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:54px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:45px;
  width:483px;
  height:54px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:248px;
  width:1020px;
  height:424px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:204px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:143px;
  width:140px;
  height:40px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:575px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:109px;
  width:184px;
  height:575px;
  opacity:0.5;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:364px;
  width:147px;
  height:93px;
  font-size:20px;
  color:#FFFFFF;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:143px;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:185px;
  width:147px;
  height:93px;
  font-size:20px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:143px;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:143px;
  width:341px;
  height:40px;
}
#u244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:272px;
  width:423px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:2px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:396px;
  width:1013px;
  height:1px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1009px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:306px;
  width:192px;
  height:19px;
  font-size:16px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:335px;
  width:818px;
  height:38px;
  font-size:16px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  word-wrap:break-word;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:414px;
  width:454px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  white-space:nowrap;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:426px;
  height:5px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:298px;
  width:423px;
  height:2px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:457px;
  height:5px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:438px;
  width:454px;
  height:2px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:459px;
  width:180px;
  height:19px;
  font-size:16px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:501px;
  width:812px;
  height:38px;
  font-size:16px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:2px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:567px;
  width:1013px;
  height:1px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1009px;
  visibility:hidden;
  word-wrap:break-word;
}
