body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:645px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:39px;
  width:1280px;
  height:645px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:54px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:45px;
  width:483px;
  height:54px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:575px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:109px;
  width:184px;
  height:575px;
  opacity:0.5;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:320px;
  width:147px;
  height:93px;
  font-size:28px;
  color:#FFFFFF;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:466px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:189px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:137px;
  width:338px;
  height:30px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:129px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:195px;
  width:1096px;
  height:1px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:252px;
  width:30px;
  height:30px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:251px;
  width:466px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  white-space:nowrap;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:139px;
  width:79px;
  height:26px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:127px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u1128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:56px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:258px;
  width:126px;
  height:56px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:256px;
  width:129px;
  height:58px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00FFCC;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:208px;
  width:556px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00FFCC;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  white-space:nowrap;
}
#u1134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:129px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u1136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:344px;
  width:1096px;
  height:1px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:56px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:357px;
  width:126px;
  height:56px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:355px;
  width:129px;
  height:58px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:432px;
  width:1096px;
  height:1px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:443px;
  width:576px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  white-space:nowrap;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:56px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:451px;
  width:126px;
  height:56px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:449px;
  width:129px;
  height:58px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:526px;
  width:1096px;
  height:1px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:544px;
  width:447px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  white-space:nowrap;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:56px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:553px;
  width:126px;
  height:56px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:551px;
  width:129px;
  height:58px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:369px;
  width:30px;
  height:30px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:451px;
  width:30px;
  height:30px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:543px;
  width:30px;
  height:30px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:251px;
  width:24px;
  height:29px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:357px;
  width:24px;
  height:29px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:443px;
  width:24px;
  height:29px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:544px;
  width:24px;
  height:29px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:645px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:39px;
  width:1280px;
  height:645px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:54px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:45px;
  width:483px;
  height:54px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:575px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:109px;
  width:184px;
  height:575px;
  opacity:0.5;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:363px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:129px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u1182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:497px;
  width:147px;
  height:93px;
  font-size:28px;
  color:#FFFFFF;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:189px;
  width:147px;
  height:93px;
  font-size:28px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:143px;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:189px;
  width:1096px;
  height:1px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:139px;
  width:79px;
  height:26px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:127px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:137px;
  width:338px;
  height:30px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:129px;
  width:105px;
  height:46px;
  font-size:16px;
  color:#CCCCCC;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:272px;
  width:30px;
  height:30px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00FFCC;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:208px;
  width:556px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00FFCC;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  white-space:nowrap;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:58px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:258px;
  width:84px;
  height:58px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:339px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:329px;
  width:385px;
  height:37px;
}
#u1204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:384px;
  width:1096px;
  height:1px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:413px;
  width:30px;
  height:30px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:540px;
  width:30px;
  height:30px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:58px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:395px;
  width:84px;
  height:58px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:476px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:466px;
  width:385px;
  height:37px;
}
#u1215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:521px;
  width:1096px;
  height:1px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:58px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:526px;
  width:84px;
  height:58px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:607px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:597px;
  width:385px;
  height:37px;
}
#u1222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
